{% extends 'base_layout.html' %}

{% block content%}

<div class="w-100 full-height dark-navy-bg d-flex align-items-center text-center white-text" id="landing-page">
    <section class="container main">
        <div class="text-center">
            <h1 class="page-title">CareShare</h1>
            <div class="page-desc">
                <h4>
                    CareShare is a crowd-funding application designed to allow everyone to donate their own fortune
                    to the ones that need it more. We encourage people to care, to share, and to deliver.
                    This application is made to fulfill the Web-Programming-Course' first & second Team Project.
                </h4>
            </div>
            <div class="widened-button"><a href="{% url 'news:news_page' %}" class="btn-lg btn-block bold blue-bg white-text">Visit Us</a></div>
            Sign in with Google
            <div class="widened-button btn btn-block bold white-bg">
                <div class="btn-sm d-flex justify-content-center align-items-center">
                    {% csrf_token %}
                    <div id="gSignInWrapper">
                        <div id="customBtn" class="customGPlusSignIn signin-landing">
                            <span class="icon"></span>
                            <span class="buttonText">Google</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}