{% extends 'base_layout.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="w-100 full-height d-flex align-items-center main">
    <section class="container" id="news">
        <div class="text-center">
            <div class="text-center section-title margin-top-7">
                <h2 class="blue-text bolder">News</h2>
            </div>
        </div>
        <div>
            {% for news in news_list %}
                <div class="white-bg white-border card">
                    <div class="card-body row">
                        <div class="col-md-9"> 
                            <h3 class="card-title blue-text text-left">{{ news.title }}</h3>
                            <br>
                            <h6 class="card-subtitle mb-2 black-text text-left">{{ news.content }}</h6>
                        </div>
                        <div class="col-md-3" id="donation-list">
                            <h5 class="blue-text text-left"> Donation List: </h5>
                            <br>
                            <ul id="donation-list-ul">
                                {% for program in news.programs.all %}
                                    <li>
                                        <a class="light-blue-text bold" href="{% url 'program:program_details' slug=program.slug %}">
                                            {{ program.name }}
                                        </a> 
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}